* {
  margin: 0;
  padding: 0;
}

/* página em construção*/
/* .construcao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */
/*Fim construcao */

/*Início desenvolvimento*/
/*Classes*/
/* body {
  background: black;
} */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
  font-size: 40px;
  text-align: center;
  margin: auto;
  padding: 30px 20px;
  color: black;
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 70px;
  background: black;
}
footer {
  width: 100%;
  height: 350px;
  background: black;
  color: wheat;
}

/*Ids*/

#nossos-clientes li {
  list-style: circle;
  margin-left: 30px;
  padding: 5px 0;
}
#portfolio {
  text-align: center;
}
#portfolio img {
  width: 180px;
  padding: 3px;
}
#servicos {
  width: 960px;
  height: auto;
  padding: 20px;
}
#nossos-clientes {
  margin: auto;
  font-size: 1.7em;
  color: #727376;
}
#galeria img {
  width: 200px;
  height: 200px;
}

/* Classes */
.topo div.menuHb {
  display: none;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.header .topo {
  display: flex;
}
.header .topo img {
  width: 60px;
}
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topo ul {
  display: flex;
}
.topo ul li {
  margin: 0 0 0 25px;
  font-size: 20px;
  list-style: none;
}
.topo img {
  margin: 5px 0 0 0;
}
.topo ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #ec268f;
}
.topo ul li a:hover {
  color: #727376;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container div.banner img {
  width: 960px;
  height: 500px;
  display: flex;
  justify-content: center;
}
.citacao {
  width: 960px;
}
.citacao p {
  max-width: 700px;
  font-size: 1.7em;
  color: #727376;
  text-align: center;
  line-height: 1.3;
  margin: auto;
  padding: 50px 0;
}
.divisao {
  width: 960px;
  height: 2px;
  margin: auto;
  background-color: #ec268f;
}
.servicos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icones-servicos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 185px;
  border: 1px solid #727376;
  padding: 20px 20px;
  margin: 5px;
}
.icones-servicos a {
  cursor: pointer;
}
/* #serviso .servicos {
  margin: 20px 0;
} */
.icones-servicos .p-servicos {
  padding-bottom: 25px;
}
.icones-servicos img {
  padding-bottom: 25px;
  width: 100px;
}
.icones-servicos .btn-saiba-mais {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: black;
  color: white;
}
.menuGaleria {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.btnGaleria {
  margin: 10px 10px 30px 10px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: pointer;
}
.formulario {
  margin: 5px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.form div input {
  padding: 0 15px;
  color: #727376;
  font-size: 1.4em;
  font-weight: bold;
  width: 70%;
  height: 50px;
  border: solid 1px #727376;
  border-radius: 10px;
}
.form div img {
  width: 35px;
  height: 35px;
}
.form input {
  width: 60%;
  height: 50px;
  color: #727376;
  border: none;
}
.form textarea {
  width: 70%;
  height: 100px;
  border: none;
}
.form div textarea {
  width: 70%;
  height: 150px;
  border: solid 1px #727376;
  border-radius: 10px;
}
.form button {
  font-size: 1.2em;
  font-weight: bold;
  width: 150px;
  height: 50px;
  background: black;
  color: white;
  margin-bottom: 8px;
}
/*simple-slide*/
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 1;
  pointer-events: auto;
}
.js [data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.js [data-slide-nav] > button {
  display: inline-block;
  width: 12px;
  margin: 4px;
  height: 12px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  background: #1d1d1d;
  text-indent: -100px;
  overflow: hidden;
}
.js [data-slide-nav] > button.active {
  background: #fb010d;
}
.js [data-anime] {
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transition: opacity 800ms;
}
/*mobile construção*/
@media (max-width: 500px) and (orientation: portrait) {
  /* TAGs */
  body {
    width: 100%;
    margin: auto;
  }
  img {
    width: 250px;
  }
  header {
    width: 100%;
    margin: auto;
  }
  footer {
    width: 100%;
    height: auto;
    padding: 5%;
    background: black;
    color: wheat;
  }
  /* IDs */
  #galeria img {
    width: 100%;
    height: 400px;
  }
  #galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #servicos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  #portfolio img {
    width: 70px;
    padding: 3px;
  }
  #nossos-clientes {
    margin: auto;
    font-size: 1em;
  }
  /* //// inicio menu-bar */
  #menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  #bar1 {
    transform: translateY(-4px);
  }
  #bar3 {
    transform: translateY(4px);
  }
  #menu-bar {
    top: 0;
    left: 0;
    position: absolute;
  }
  #menu-bar {
    z-index: 3;
  }

  /* Classes */
  .topo div.menuHb {
    width: 30px;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 15%;
    right: 20%;
    z-index: 2;
  }
  .construcao {
    max-width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .container div.banner img {
    width: 100%;
    /* height: 500px; */
    display: flex;
    justify-content: center;
  }
  .topo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
  }
  .container-citacao {
    width: 100%;
    margin: auto;
  }
  .divisao {
    width: 300px;
  }
  .servicos {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .icones-servicos {
    width: 300px;
  }
  .btnGaleria {
    margin: 3px 3px;
    width: 135px;
    height: 50px;
  }
  .bar {
    height: 5px;
    width: 100%;
    background-color: #ec268f;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .nav li {
    list-style: none;
    padding: 16px 0;
  }
  .nav li a {
    color: white;
    text-decoration: none;
  }
  .nav li a:hover {
    font-weight: bold;
  }
  .nav {
    z-index: 1;
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
  }
  .menu-bg {
    top: 0;
    left: 0;
    position: absolute;
  }
  .menu-bg {
    z-index: 2;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #e94498, #b81568);
    border-radius: 50%;
    transition: 0.3s ease;
  }

  .change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
  }
  .change .bar {
    background-color: white;
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  .change #bar2 {
    opacity: 0;
  }
  .change {
    display: block;
  }

  .menuGaleria {
    display: flex;
    flex-direction: column;
  }
  .btnGaleria {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  /*fim mobile construção*/
}
